@font-face {
    font-family: 'ibrand';
    src: url('fonts/Ibrand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
}

h1, h2 {
    font-family: 'ibrand', sans-serif;
}

.transition-height {
    transition: height 0.3s ease;
}

.icon-zoom:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.card-zoom {
    transition: transform 0.3s ease;
}

.card-zoom:hover {
    transform: scale(1.05);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    background-color: rgba(12, 108, 179, 0.9); /* Fundo mais opaco */
}

@media (max-width: 768px) {
    .fixed-elements {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        background-color: rgba(12, 108, 179, 0.7);
    }
}


@media (max-width: 768px) {
    #navbar-logo {
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 60;
        height: 50px; /* Tamanho ajustado para ficar proporcional */
    }
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}