@font-face {
    font-family: 'ibrand';
    src: url('fonts/Ibrand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
}

h1, h2 {
    font-family: 'ibrand', sans-serif;
}

.transition-height {
    transition: height 0.3s ease;
}

.icon-zoom:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.card-zoom {
    transition: transform 0.3s ease;
}

.card-zoom:hover {
    transform: scale(1.05);
}